<!-- <p>nav-page works!</p> -->
<div class="nav">
    <div class="nav-logo">FYYD</div>
    <ul class="nav-main">
        <li [routerLink]="['/daily']" [ngStyle]="{'cursor':'pointer'}">首页</li>
        <li [routerLink]="['/blog']" [ngStyle]="{'cursor':'pointer'}">博客</li>
        <li [routerLink]="['/blogComment']" [ngStyle]="{'cursor':'pointer'}">留言</li>
        <li [routerLink]="['/daily']" [ngStyle]="{'cursor':'pointer'}">日记</li>
        <li [routerLink]="['/links']" [ngStyle]="{'cursor':'pointer'}">友链</li>
        <li [routerLink]="['/about']" [ngStyle]="{'cursor':'pointer'}">关于</li>
    </ul>
    <div class="nav-login">
        登录
    </div>
    
</div>
